In [2]:
import pandas as pd

In [12]:
# Pandas의 Dataframe을 생성
names = ['kim','Jin','lee','kang','song']

# 컬럼이 4개이지만, 데이터는 2개로 인식하여, 에러발생
# scores = [
#     [100,86,91],
#     [72,92,68],
#     [81,94,92],
#     [88,61,55],
#     [76,72,86]
# ]
kor_score = [100,72,81,88,76]
math_score = [86,92,94,61,72]
eng_score = [91,68,92,55,86]

# 데이터 2개로 인식 에러발생
# ScoresDataSet = list(zip(names,scores))
ScoresDataSet = list(zip(names,kor_score,math_score,eng_score))
df = pd.DataFrame(data = ScoresDataSet, columns = ['names','Kor','Math','Eng'])

In [13]:
# 데이터프레임의 상단 부분을 출력합니다.
df.head()

  names  Kor  Math  Eng
0   kim  100    86   91
1   Jin   72    92   68
2   lee   81    94   92
3  kang   88    61   55
4  song   76    72   86

In [15]:
# 데이터프레임의 열 타입 정보를 출력합니다.
print(df.dtypes)
print("-----------")

# 데이터프레임의 형태 정보입니다.
print(df.index)
print("-----------")

# 데이터프레임의 열 정보입니다.
print(df.columns)

names    object
Kor       int64
Math      int64
Eng       int64
dtype: object
-----------
RangeIndex(start=0, stop=5, step=1)
-----------
Index(['names', 'Kor', 'Math', 'Eng'], dtype='object')

In [18]:
# 데이터프레임의 하나의 열을 선택합니다.
df['names']

0     kim
1     Jin
2     lee
3    kang
4    song
Name: names, dtype: object

In [19]:
# 0~3 번째 인덱스를 선택합니다.
df[0:3]

  names  Kor  Math  Eng
0   kim  100    86   91
1   Jin   72    92   68
2   lee   81    94   92

In [21]:
# Kor 열이 80보다 큰 데이터를 선택합니다.
df[df['Kor'] > 80]

  names  Kor  Math  Eng
0   kim  100    86   91
2   lee   81    94   92
3  kang   88    61   55

In [26]:
# 데이터프레임에서의 평균값을 계산합니다.
avg_kor = df['Kor'].mean()
avg_math = df['Math'].mean()
avg_eng = df['Eng'].mean()
print("국어 평균 : {} | 수학 평균 : {} | 영어 평균 : {}".format(avg_kor,avg_math,avg_eng))

국어 평균 : 83.4 | 수학 평균 : 81.0 | 영어 평균 : 78.4