# 2021 Olympics in Tokyo EDA
## EDA (Exploratory Data Analysis)?
### 수집한 데이터가 들어왔을 때, 이를 다양한 각도에서 관찰하고 이해하는 과정
### 데이터 분석전 그래프나 통계적인 방법으로 자료를 직관적으로 바라보는 과정

-----
## 과정
### 1. 탐색
### 2. 인사이트 발견
### 3. 탐색한 데이터의 시각화

# 1. 탐색

## 데이터셋의 기본 정보 확인

In [3]:
# -*- coding: utf-8 -*-

import pandas as pd

# read_csv 함수로 데이터를 Dataframe 형태로 불러옵니다.
file_path = '../data/Olympics_in_Tokyo/Teams.csv'
olympics_teams = pd.read_csv(file_path, sep = ',')

In [5]:
print(olympics_teams.shape)
print("------------------------------------")
print(olympics_teams.info())

(743, 4)
------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 743 entries, 0 to 742
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        743 non-null    object
 1   Discipline  743 non-null    object
 2   NOC         743 non-null    object
 3   Event       743 non-null    object
dtypes: object(4)
memory usage: 23.3+ KB
None

## 데이터셋의 행과 열 데이터

In [4]:
# olympics_teams 라는 Dataframe에서 순서대로 10개의 row 데이터를 보여줍니다.
olympics_teams.head(10)

          Name      Discipline                         NOC  Event
0      Belgium  3x3 Basketball                     Belgium    Men
1        China  3x3 Basketball  People's Republic of China    Men
2        China  3x3 Basketball  People's Republic of China  Women
3       France  3x3 Basketball                      France  Women
4        Italy  3x3 Basketball                       Italy  Women
5        Japan  3x3 Basketball                       Japan    Men
6        Japan  3x3 Basketball                       Japan  Women
7       Latvia  3x3 Basketball                      Latvia    Men
8     Mongolia  3x3 Basketball                    Mongolia  Women
9  Netherlands  3x3 Basketball                 Netherlands    Men

In [6]:
# olympics_teams 데이터의 컬럼명 조회
print(olympics_teams.columns)
print("------------------------------------")
# olympics_teams의 index 조회
print(olympics_teams.index)

Index(['Name', 'Discipline', 'NOC', 'Event'], dtype='object')
------------------------------------
RangeIndex(start=0, stop=743, step=1)

In [7]:
print(olympics_teams.describe()) # olympics_teams dataframe에서 수치형 피처들의 요약 통계량을 확인합니다.

         Name Discipline    NOC Event
count     743        743    743   743
unique    146         20     84    36
top     Japan   Swimming  Japan   Men
freq       45        113     48   120